body{
    background-image: url("images.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.inline{
    display: flex;
    align-items: bottom;
    gap: 10px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    flex-wrap: wrap;
    padding-top: 10px;
}

.inline .img{
    width: 200px;
    height: 150px;
}

.inline1{
    display: inline-block;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: slategray;
    padding-left: 12px;
    padding-top: 12px;
}
.inline2{
    font-size: larger;
    color: brown;
    padding-top: 13px;
    padding-right: 23px;
}
.inline3{
    font-size: 18px;
    word-spacing: normal;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

button{
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 8px;
    color: palevioletred;
    background-color: aqua;
    display: middle,
}

button:hover{
    background-color: yellowgreen;
    color: blueviolet;
    transform: scale(1.05);

}